.swiper{
  width: 100%;
}
.swiper-pagination {
  display: none;
}

.swiper-button-prev{
  margin-top: -30px;
}

.swiper-button-next{
  margin-top: -30px;
}

@media (max-width: 900px){
  .mySwiper2{
    margin-left: 50px!important;
  }
  .swiper{
    margin-right: 0px!important;
  }
}

@media (max-width: 880px){
  .mySwiper2{
    margin-left: 30px!important;
  }
}

@media (max-width: 830px){
  .mySwiper2{
    margin-left: 10px!important;
  }
}

@media (max-width: 790px){
  .mySwiper2{
    margin-left: 0px!important;
  }
}