#app {
    height: 100%;
  }
  html,
  body {
    position: relative;
    height: 100%;
  }
  
  body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }
  
  .swiper {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  @media screen and (max-width:1160px) {
    .swiper-wrapper{
      padding-left: 0px!important;
    }
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
    
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swp1{
    background-image: url('../images/c1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .swp2{
    background-image: url('../images/c2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .swp3{
    background-image: url('../images/c3.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .mySwiper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.swp1, .swp2, .swp3 {
    width: 100%;
    height: 90vh; 
    overflow: hidden;
    margin-left: 0px!important;
    margin-right: 0px!important;
}
.swiper-slide{
  margin-left: 0!important;
  margin-right: 0!important;
  max-width: 100%;
}

.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
  bottom: 100px;
}

.swiper-pagination-bullet{
  border-radius: 50px;
  height: 15px; 
  width: 15px; 
  border: 3px solid white;
  background: green;
}

@media screen and (max-width:768px) {
  .swiper-pagination-bullet{
    height: 12px; 
    width: 12px;
  }
}